.ressource_details_image {
    max-width: 50%;
    max-height: 50%;
    margin: 0;
}

.ressource_text_wrapper {
    white-space: pre-line;
}

.ressource_details_wrapper {
    text-align: center;
}

.ressource_numéro {
    font-size: small;
}

.ressource_title_row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.ressource_favoris_row {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.comments_row_displayer {
    display: flex;
    justify-content: center;
    padding: auto;
}