nav {
	padding-top: 0!important;
	padding-bottom: 0!important;
}

.lienImage {
	width: 75px;
}

.navbar img {
	width: 45px;
	height: 45px;
}

.navbar-nav{
	width: 100%;
}

	.navbar-nav li{
		margin-top:0;
		margin-bottom: 0;
	}

.form-inline input {
	border-radius: 14px;
}

.nav-item {
	margin: 1.8%;
}

nav a:hover{
	color: rgb(116, 175, 149)!important;
	text-decoration: underline!important;
	transform : all; 
	transition:0.95s;
}

